<div class="section-header">
  <h2>Ligas populares</h2>
</div>
<div class="category-grid">
  <a href="#" class="category-card">
    <img src="/assets/categories/premier_league.png" alt="Premier League" class="category-image" />
    <h3>Premier League</h3>
    <p>382K espectadores</p>
  </a>
  <a href="#" class="category-card">
    <img src="/assets/categories/la_liga.jpg" alt="La Liga" class="category-image" />
    <h3>La Liga</h3>
    <p>215K espectadores</p>
  </a>
  <a href="#" class="category-card">
    <img src="/assets/categories/champions_league.png" alt="Champions League" class="category-image" />
    <h3>Champions League</h3>
    <p>424K espectadores</p>
  </a>
  <a href="#" class="category-card">
    <img src="/assets/categories/bundesliga.png" alt="Bundesliga" class="category-image" />
    <h3>Bundesliga</h3>
    <p>198K espectadores</p>
  </a>
  <a href="#" class="category-card">
    <img src="/assets/categories/serie_a.png" alt="Serie A" class="category-image" />
    <h3>Serie A</h3>
    <p>156K espectadores</p>
  </a>
</div>
